.completedTasksContainer {
  display: flex;
}

.completedTasksMain {
  margin-left: 200px;
  padding: 2rem;
  width: 100%;
}

/* Use this in your CSS module */
.completedText {
  text-decoration: line-through;
  opacity: 0.6;
}