.registerContainer {
  min-height: 100vh;
  background: #232323;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.registerForm {
  background: #2b2b2b;
  padding: 2rem 2.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-width: 320px;
}

.registerForm label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.registerForm input {
  padding: 0.6rem;
  border: 1px solid #444;
  border-radius: 4px;
  background: #3b3b3b;
  color: #fff;
  font-size: 1rem;
}

.registerForm button {
  background: #d15800;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background 0.2s;
}

.registerForm button:hover {
  background: #b34700;
  text-decoration: underline;
}

.registerError {
  color: #f44336;
  margin: 0.5rem 0;
  font-size: 0.95rem;
  text-align: center;
}

.loginRedirectButton {
  color: #d15800;
  cursor: pointer;
  font-size: 0.9rem;;
}
.loginRedirectButton:hover {
  color: #ffffff;
  background: #b34700;
  text-decoration: underline;
}